nav#main-sections ul {
  text-align: justify;
  list-style: none;
  padding: 0;
}

nav#main-sections ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}

nav#main-sections ul > li {
  display: inline-block;
  margin: 0;
  width: 32%;
}

nav#main-sections ul li {
  vertical-align: top;
}

body {
  font-family: georgia, sans-serif;
  color: #444444;
  background-color: blue;
  background-color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: arial, sans-serif;
  font-weight: normal;
  -webkit-transform: translate3d(4px, 0, 0);
  -ms-transform: translate3d(4px, 0, 0);
  -o-transform: translate3d(4px, 0, 0);
  transform: translate3d(4px, 0, 0);
}